name: Release

on:
  workflow_run:
    workflows: ["Frontend CI"]
    types: [completed]

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  semantic-versioning-ci:
    # TESTING - change to main once merged
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.head_branch == 'WED-1-semantic-versioning' }}
    runs-on: ubuntu-24.04
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.workflow_run.head_sha }}

      - uses: actions/setup-node@v6
        with:
          node-version: lts/Krypton

      - run: corepack enable pnpm
      - run: corepack use pnpm@latest-10

      - run: pnpm install --frozen-lockfile
      - run: pnpm build

      - name: Semantic Release (dry run on branch)
        run: pnpm dlx semantic-release --dry-run
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
